/*.quadreido{
    border-style:groove;
    background-color:rgb(83, 116, 116);
}*/


.classe1{
    background-color: rgb(119, 87, 170);
    border-style: groove;
    border-color: black 20px;
}

.classe2{
    font-size: 30px;
    
}

.classe3{
    font-family: cursive;
}