@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');


/*body{font-family: 'Cinzel', serif; font-size: 20px; line-height: 30px; text-align: left;}*/

.div1{
      border: 15px; 
       color: blueviolet; 
        border-style: double; 
         padding: 10px 7px 10px 7px; 
          margin:57px;
}

.div2{
      border: 15px;
       color: brown;
        border-style: groove;
         padding: 20px 8px 20px 8px;
          margin: 50px;
    }