@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Manrope:wght@200&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');





.data
{
    font-size: 15px;
    color: rgb(57, 147, 250);
    font-family: 'Manrope', sans-serif;
}

.titulo
{
    font-size: 30px; 
    font-family: 'Cinzel', serif;
}

.cordefundo
{
    background-color: #fff1e6; 
    width: 50%; 
    margin: 25%;  
}