.classe1{
    background-color: aquamarine;
    border-style:dotted;
    border-color: black;
}


.classe2{
    color: red;
    
}


.borda{
    border-style: solid;
    margin-left: 40px;
    padding: 40px;
    padding-right: 40px;
}

